<!-- correlation matrix -->
<div class="span5">
  <div id="ActiveMatComp"></div>
  <div id="popover_content_wrapper" style="display: none"><div></div></div>	      
  <div id="lock"></div>
  <div id="outlaid"><a href="#" rel="tooltip" data-placement="top" title=""></a></div>
  <div id="vis"></div>
</div>


<!-- diagnostic plots and test details -->
<div class="span6">

  <div class="row">
    <div class="span3" id="density2"></div>
    <div class="span3" id="corr1"></div>
    <div class="span3 hidden" id="trace"><img class="img-diag" alt="trace plot"/></div>
  </div>

  <div class="row">

   <table>
     <tr>
       <td>
       	 <div class="span3" id="corr2"></div>
       </td>
       <td>
         <div class="span3" id="density1"></div>
       </td>
     </tr>
     <tr>
       <td>
         <div class="span3 hidden autocor"><img class="img-diag" alt="autocorrelation plot" /></div>
       </td>
       <td>
    <div class="span3 hidden autocor" style="vertical-align:center;">
      <table class="table table-condensed">
        <thead>
	</thead>
	<tbody >
	  <tr>
	    <th class="goodIndicator">Geweke</th>
	    <th class="goodIndicator" colspan = 2 ><span id="geweke"></span></th>
	  </tr>
	  <tr>
	    <th rowspan=2 class="goodIndicator">  Raftery </th>
	    <th class="goodIndicator">M: <span id="raftery-M"></span></th>
	    <th class="goodIndicator">N: <span id="raftery-N"></span></th>
	  </tr>
	  <tr>
	    <th class="goodIndicator">Nmin: <span id="raftery-Nmin"></span></th>
	    <th class="goodIndicator">I: <span id="raftery-I"></span></th>
	  </tr>
	  
	  <tr>
	    <th class="goodIndicator">Heidel.</th>
	    <th class="goodIndicator">start: <span id="heidel-start"></span></th>
	    <th class="goodIndicator">p-value: <span id="heidel-pvalue"></span></th>
	  </tr>

	  <tr>
	    <th class="goodIndicator">ESS</th>
	    <th class="goodIndicator" colspan = 2><span id="ess"></span></th>
	  </tr>
	</tbody>
      </table>
    </div>
    </td>
    </tr>
    </table>
  </div>            
</div>
