<!-- Plots -->
<div class="row" id="reviewPlots">
  <div class="span12">

    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#plotTrajContent" data-toggle="tab">Time Series</a></li>
        <li class=""><a href="#plotStateContent" data-toggle="tab">States</a></li>
        <li class=""><a href="#plotPredResContent" data-toggle="tab">Residuals</a></li>
        <li class=""><a href="#plotEssContent" data-toggle="tab">ESS</a></li>
      </ul>

      <div class="tab-content">
        <!-- Trajectories plot -->
        <div class="tab-pane active" id="plotTrajContent">
          <div id="graphTraj"></div>
          <div id="tickTraj" class="tickGraph horizontal-scroll"></div>
        </div>
        <!-- States plot and diffusions -->
        <div class="tab-pane" id="plotStateContent">
          <div id="graphState"></div>
          <div id="tickState" class="tickGraph horizontal-scroll"></div>
        </div>
        <!-- prediction residuals -->
        <div class="tab-pane" id="plotPredResContent">
          <div id="graphPredRes"></div>
          <div id="tickPredRes" class="tickGraph horizontal-scroll"></div>
        </div>
        <!-- ESS -->
        <div class="tab-pane" id="plotEssContent">
          <div id="graphEss"></div>
        </div>
      </div>

    </div>
  </div>
</div>
