<div class="span7">
  <h3>Reviews</h3>
  <div id="reviewThread"></div>
</div>

<div class="span4">
  <h3>Submit a new review</h3>

  <form id="formReviewTheta" action="/reviewtheta" method="post">

    <label for="reviewTheta">Review the methods and the parameter values</label>

    <!-- vizbit -->
    <button class="vizbit btn"><i class="icon-file"></i> Attach run</button> 
    <a class="vizbitLink" href="#filtering"></a>
    <a class="vizbitRemove hidden" href="#"><i class="icon-remove"></i></a>

    <textarea id="reviewTheta" rows="5" name="body", class="span4"></textarea>

    <input type="hidden" name="_csrf" value="<%= token %>"/>

    <label class="radio inline">
      <input type="radio" name="decision" value="validated">Validate
    </label>
    <label class="radio inline">
      <input type="radio" name="decision"  value="rejected">Reject
    </label>

    <p>
      <button class="btn" type="submit">Submit</button>
    </p>
  </form>
</div>
