<div class="span8">
  <h3>Reviews</h3>
  <div id="threadTheta"></div>
</div>

<div class="span39">
  <h3>Submit a new review</h3>

  <form class="post" action="/review" method="post">
    <label for="reviewTheta">Review the methods</label>

    <!-- vizbit -->
    <p>
      <button class="vizbit btn btn-mini"><i class="icon-file"></i> Attach current run</button> 
      <a class="vizbitLink" href="#filtering"></a>
      <a class="vizbitRemove hidden" href="#"><i class="icon-remove"></i></a>
    </p>

    <textarea id="reviewTheta" rows="5" name="body", class="span39"></textarea>

    <input type="hidden" name="_csrf" value="<%= token %>"/>
    <input type="hidden" name="type" value="theta"/>
    <input id="idReviewTheta" type="hidden" name="id" value="<%= best.theta._id %>"/>

    <label class="radio inline">
      <input type="radio" name="status" value="validated">Validate
    </label>
    <label class="radio inline">
      <input type="radio" name="status"  value="rejected">Reject
    </label>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
