<% include layout %>
<% include header %>

<hr/>

<h2>404 Not Found</h2>

<p><%= url %></p>

<div class="row">

    <div class="span12 http-error">
      <img src="/images/ages_small.png">
    </div>

</div>



<hr/>

<% include footer %>
