<% include layout %>
<% include header %>

<hr/>

<h2>500 Error</h2>

<p><%= error %></p>

<div class="row">

    <div class="span12 http-error">
      <img src="/images/sneeze_big.png">
    </div>

</div>



<hr/>

<% include footer %>
