<% include layout %>
<% include header %>

<div class="row">
  <div class="span12">
    <h3 class="role">Founders</h3>
  </div>
  <div class="row">
    <div class="span4">
      <h5>Sebastien Ballesteros
	<a href="https://github.com/sballesteros" class="social-icons" title="Follow sballesteros on github" target="_blank"><i class="icon-github"></i></a>
	<br/>
	<small>Engineer, Ph.D epidemiology</small>
        
      </h5>
      <figure>
	<a href="mailto:sebastien@plom.io"><img class="bio img-rounded" src="/images/SB.jpg"></a>
      </figure>
      <p>
        Self-trained programmer, kite-surfing enthusiast and
        javascript evangelist, wanting to bring the github
        revolution into science
      </p>
    </div>

    <div class="span4">
      <h5>Tiffany Bogich 
	<a href="http://twitter.com/tiffbogich" class="first social-icons" title="Follow @tiffbogich on Twitter" target="_blank"><i class="icon-twitter-sign"></i></a>
	<a href="http://github.com/tiffbogich" class="social-icons" title="Follow tiffbogich on github" target="_blank"><i class="icon-github"></i></a>
	<br> 
	<small>Public Health, Ph.D mathematics</small>
	
      </h5>
      <figure> 
	<a href="mailto:tiff@plom.io"><img class="bio img-rounded" src="/images/TLB.jpg"></a>
      </figure>
      <p>
        Applied mathematician, self-trained programmer with new
        found love of javascript and github, with an affinity
        for rock climbing
      </p>
      
    </div>

    <div class="span4">
      <h5>Joseph Dureau
	<a href="http://github.com/JDureau" class="social-icons" title="Follow JDureau on github" target="_blank"><i class="icon-github"></i></a>
	<br/>
	<small>Engineer, Ph.D statistics</small>
	
      </h5>
      <figure> 
	<a href="mailto:joseph@plom.io"><img class="bio img-rounded" src="/images/JD.jpg"></a>
      </figure>
      <p>
        Born-again statistician, self-training programmer,
	hoping that learning from data was an easier task 
	and a more common reflex
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3 class="role">Scientific Advisors</h3>
  </div>

  <div class="row">
    <div class="span4">
      <h5>Bryan Grenfell 
	<a href="http://twitter.com/bgrenfell" class="first social-icons" title="Follow @bgrenfell on Twitter" target="_blank"><i class="icon-twitter-sign"></i></a>
	<br/>
	<small>Professor, Princeton University</small>	      
      </h5>

      <figure> 
	<a href="mailto:bgrenfell@princeton.edu"><img class="bio img-rounded" src="/images/BG.png"></a>
      </figure>

      <p>
        Expert of infectious disease dynamic modeling, time
        series analysis, influenza, measles and childhood
        infections, poised at the interface between science,
        economics and policy
      </p>
    </div>

    <div class="span4">
      <h5>Bernard Cazelles<br>
	<small>Professor UPMC, Paris, France</small>
      </h5>
      <figure> 
	<a href="mailto:cazelles@biologie.ens.fr"><img class="bio img-rounded" src="/images/BC.jpg"></a>
      </figure>
      <p>
        Dedicated researcher, involved in the description and
        understanding of stochastic, non-linear and non-stationary mechanisms
        at stake in epidemiology and ecology
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3 class="role">Partners</h3>
  </div>
  <div class="row">
    <div class="span4">

      <figure> 
	<a href="http://www.tigerlabs.co/health/"><img class="img-rounded" src="/images/tigerlabs-logo.png"></a>
      </figure>

    </div>


    <!--<div class="span3">

	<figure style="background-image:https://secure.gravatar.com/avatar/b66042c7e9e8ae1a0fe1c0c3245d3d91?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png"> 
	  <a href="http://aws.amazon.com"><img class="img-rounded" src="https://secure.gravatar.com/avatar/b66042c7e9e8ae1a0fe1c0c3245d3d91?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" style="background-position: 0 40%;width=200px"></a>
	</figure>

    </div>
    <div class="span3">
      <figure style="background-image:http://upload.wikimedia.org/wikipedia/en/f/ff/Windows_Azure_logo.png"> 
	<a href="http://www.windowsazure.com/en-us/"><img class="img-rounded" src="http://upload.wikimedia.org/wikipedia/en/f/ff/Windows_Azure_logo.png" style="background-position: 0 40%;width=200px"></a>
      </figure>

    </div>
    <div class="span3">
      <figure style="background-image:http://blog.sendgrid.com/wp-content/uploads/2010/10/Untitled.jpg"> 
	<a href="http://go.sendgrid.com/"><img class="img-rounded" src="http://blog.sendgrid.com/wp-content/uploads/2010/10/Untitled.jpg" style="background-position: 0 40%;width=200px"></a>
      </figure>

    </div> -->

  </div>
</div>

<% include footer %>
