</head>

<body onload="prettyPrint()">

  <div class="container">

    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <% if (is_logged_in && locals.username){ %>
        <li><a href="/<%= username %>"><%= username %></a></li>
        <% } else { %>
        <li><a href="/">Home</a></li>
        <% } %>
        <li><a href="/library">Library</a></li>

        <% if (is_logged_in){ %>        
        <li><a href="/doc">Documentation</a></li>
        <% } else { %>
        <li><a href="/about">About us</a></li>
        <% } %>

        <% if(locals.is_logged_in) { %>
        <li> <a href="/logout">Logout</a> </li>
        <% } else { %>
        <li> <a href="/login">Login</a> </li>
        <% } %>

      </ul>
    </div>
