</head>

<body onload="prettyPrint()">

  <div class="container">

    <div class="row">
      <a href="/"><div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1></a>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/about">About us</a></li>
        <% if(locals.is_logged_in) { %>
        <li> <a href="/logout">Logout</a> </li>
        <% } else { %>
        <li> <a href="/login">Login</a> </li>
        <% } %>
      </ul>
    </div>
