<% include layout %>
<% include header %>

<div class="container">
<hr>
	<div class="row">
		<div class="span12">
		<h3 class="lead">Context Overview</h3>
			<div class="row">
				<div class="span4">
					<h4>Data</h4>
					<p>X Time series</p>
					<p>Y Places </p>			
				</div>
				<div class="span4">
					<h4>Metadata</h4>
					<p>Population size</p>
					<p>Birth rate</p>
					<p>Death rate</p>
					<p>Proportion under surveillance</p>
				</div>
				<div class="span4"><h4>Models</h4>
					<p>SIR</p>
				</div>
			</div>
		
		<hr>

		<div class="row">
			<div class="span12">
			<h3 class="lead">Issues</h3>
		</div>
	</div>

</div>
<hr>
<% include footer %>