<% include layout %>
<% include header %>

<div class="container">
<hr>
	<div class="row">
		<div class="span12">
		<h3>Context Elements</h3> 

			<div class="row">
				<div class="span4">
					<h4>Data</h4>
					<p>X Time series</p>
					<p>Y Places </p>			
				</div>
				<div class="span4">
					<h4>Metadata</h4>
					<p>Population size</p>
					<p>Birth rate</p>
					<p>Death rate</p>
					<p>Proportion under surveillance</p>
				</div>
				<div class="span4">
				<h4>Models</h4>
					<p>SIR</p>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<p style="float:right">Lock Context <i class="icon-lock"></i></p> 
				</div>
			</div>
		
		<hr>

		<div class="row">
			<div class="span12">
			<h3>Issues and Requests</h3>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#IssueOne">
        Issue #1
      </a>
    </div>
    <div id="IssueOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Question, Data, Metadata, or Model Request here with details and a rant.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#IssueTwo">
        Issue #2
      </a>
    </div>
    <div id="IssueTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Question, Data, Metadata, or Model Request here with details and a rant.
      </div>
    </div>
  </div>
</div>
			<hr>
		</div>

	
		
	</div>

</div>
<hr>
<% include footer %>