<% include layout %>
<% include header %>
<hr>
<div class="container">
	<div class="row">
		<div class="span4">data
		</div>
		<div class="span4">metadata
		</div>
		<div class="span4">models
		</div><br><br>
	</div>


</div>
<hr>
<% include footer %>