<!DOCTYPE html>
<html>
  <head>
  <head>

    <title>PLOM.io Social Modeling</title>

    <meta name="description" content="PLoM.io Public Library of Models" />
    <meta name="keywords" content="PLoM model data inference social" />
    <meta name="author" content="Sebastien Ballesteros" />

    <link rel="stylesheet" media="screen" type="text/css"  href="/lib/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.min.css" />
    <link rel="stylesheet" media="screen" type="text/css"  href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" type="text/css"  href="/lib/google-code-prettify/prettify.css" />
    <link rel="stylesheet" media="screen" type="text/css"  href="/stylesheets/plom.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/lib/ba-tiny-pubsub.min.js"></script>
    <script src="/lib/dygraph-combined.js"></script>
    <script src="/lib/jquery.sparkline.min.js"></script>
    <script src="/lib/d3.v3/d3.v3.min.js"></script>
    <script src="/javascripts/set_active_menu.js"></script>
    <script src="/javascripts/follow.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/google-code-prettify/prettify.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/holder.js"></script>
    <script src="/lib/jquery.form.js"></script>
