extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/library.css')
  link(rel='stylesheet', href='/stylesheets/process.css')
  link(rel='stylesheet', href='/stylesheets/tree.css')

block append scripts
  script(src='/lib/jquery.form.js')
  script(src='/javascripts/plom_tree.js')
  script(src='/javascripts/library.js')
  script(src='/javascripts/d3_horizon.js')
  script(src='/javascripts/horizon.js')
  script(src='/javascripts/plomGraphModel.js')

block content

  div.row
    div.span5#plom-search
      form(action="/library", method="get").form-inline
        div.input-append
          input(type="text", name="q", value=q).input-xlarge#search
          button(type="submit").btn Search

      ul
        if results.length
          each res in results
            li: a(href="/tree?_idString=" + res._id).getTree diseases: #{res.disease.join(';')}, nodes: #{res.node.length}  
        else if results
          | 0 results found. <a href="#">Add an entry.</a>



    div.span7#tree.hidden
      div.btn-toolbar.plom-toolbar
        div.btn-group
          button(data-loading-text="Building...").btn.btn-small.btn-success#explore.disabled <i class="icon-play icon-white"></i> Explore
  
        div.btn-group
          button#fork.btn.btn-small.disabled <i class="icon-random"></i> Fork
          button#attach.btn.btn-small.disabled <i class="icon-plus"></i> Attach
  
        div.btn-group
          button(type="button")#follow.btn.btn-small.btn-primary.disabled <i class="icon-eye-open icon-white"></i> Follow        

      div#plom-tree-graph
          
  
  div#model.row.hidden
    hr
    div.span8
      div.row  
        div.span7#plom-horizon-control
          div.btn-toolbar
            div(data-toggle="buttons-checkbox").btn-group
              button(type="button").btn.btn-small#plom-substact-median Substract median
    
            div(data-toggle="buttons-radio").btn-group#plom-change-mode
              button.btn.btn-small Mirror
              button.btn.btn-small Offset

            div.btn-group#plom-add-band
              button.btn.btn-small Add Band
              button.btn.btn-small Remove Band
 
      div.row
        div#plom-horizon-graph

    div.span4   
      div
        div#plom-detail-description

        div#plom-detail-model


  div#myModal.modal.hide.fade
    div.modal-header
     button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
     h3 Modal header

    div.modal-body

      ul.nav.nav-tabs
        li.active: a(href="#home", data-toggle="tab") home
        li: a(href="#profile", data-toggle="tab") profile

      div.tab-content
        div.tab-pane.active#home
          p
            | hddwdwdw

        div.tab-pane#profile
          p
            | dwdwdw




      form(action="/component", method="post", enctype="multipart/form-data")#fork-form
        input(type="file", name="component")

    div.modal-footer
      a(href="#")#fork-submit.btn Submit
      a(href="#", data-dismiss="modal").btn Cancel
