extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/library.css')
  link(rel='stylesheet', href='/stylesheets/process.css')
  link(rel='stylesheet', href='/stylesheets/tree.css')

block append scripts
  script(src='/javascripts/plom_tree.js')
  script(src='/javascripts/library.js')
  script(src='/javascripts/d3_horizon.js')
  script(src='/javascripts/horizon.js')
  script(src='/javascripts/plomGraphModel.js')


block content

  div.row
    div.span5#plom-search
      form(action="/library", method="get").form-inline
        div.input-append
          input(type="text", name="q", value=q).input-xlarge#search
          button(type="submit").btn Search

      ul
        each res in results
          li: a(href="/tree?_idString=" + res._id).getTree diseases: #{res.disease.join(';')}, nodes: #{res.node.length}  



    if results.length
      div.span7
        div.btn-toolbar.plom-toolbar
          div.btn-group
            button.btn.btn-small.btn-success#explore.disabled <i class="icon-play icon-white"></i> Explore
    
          div.btn-group
            button(data-toggle="button").btn.btn-small <i class="icon-random"></i> Fork
            button(data-toggle="button").btn.btn-small <i class="icon-plus"></i> Attach
    
          div.btn-group
            button(type="button").btn.btn-small.btn-primary <i class="icon-eye-open icon-white"></i> Follow


        div#plom-tree-graph
          
  
  if results.length  
    hr
    div.row
      div.span8
        div.row  
          div.span7#plom-horizon-control
            div.btn-toolbar
              div(data-toggle="buttons-checkbox").btn-group
                button(type="button").btn.btn-small#plom-substact-median Substract median
      
              div(data-toggle="buttons-radio").btn-group#plom-change-mode
                button.btn.btn-small Mirror
                button.btn.btn-small Offset
  
              div.btn-group#plom-add-band
                button.btn.btn-small Add Band
                button.btn.btn-small Remove Band
   
        div.row
          div#plom-horizon-graph
  
      div.span4   
        div
          div#plom-detail-description

          div#plom-detail-model

