<% include layout %>

<script src="/javascripts/PlomTs.js"></script>
<script src="/javascripts/parmatrix.js"></script>
<script src="/javascripts/corr.js"></script>
<script src="/javascripts/density.js"></script>
<script src="/javascripts/view.js"></script>
<script src="/javascripts/review.js"></script>
<script src="/socket.io/socket.io.js"></script>

<% include header %>


<div class="row">

  <div class="span9">
    <ul class="breadcrumb">
      <li><a href="#">Disease</a> <span class="divider">/</span></li>
      <li><a href="#">Context</a> <span class="divider">/</span></li>
      <li class="active">Model</li>
    </ul>
  </div>

  <div class="span3">
    <div class="review-action">
      <button class="btn btn-primary" type="button"><i class="icon-eye-open"></i> Follow</button>
      <button class="btn btn-danger" type="button"><i class="icon-download"></i> Fork</button>
    </div>
  </div>

</div>


<div class="row">
  <div class="span12">

    <ul class="nav nav-tabs" id="reviewTab">
      <li class="active">
        <a href="#theta" data-toggle="tab">Parameters</a>
      </li>
      <li>
        <a href="#model" data-toggle="tab">Model</a>
      </li>
    </ul>
    
    <div class="tab-content">

      <div class="tab-pane active" id="theta">

        <!-- parameter list (templated) -->
        <div class="horizontal-scroll" data-toggle="buttons-radio" id="theta-list"></div>

        <hr/>

        <!-- Summary table (templated) -->
        <div class="row">
          <div class="span12" data-toggle="buttons-radio" id="summaryTable">

          </div>
        </div>	      	

        <hr/>

         <!-- plots -->
        <div class="row" id="diag-plots">

         <!-- correlation matrix -->
          <div class="span6">
	      <div id="ActiveMatComp">  
	      </div>		  

	      <div id="popover_content_wrapper" style="display: none">
  		<div>This is your div content</div>
  	      </div>
	      
	      <div id="lock">
	      </div>

	      <div id="ourtooltip">
		<a href="#" rel="tooltip" data-placement="top" title="This is the tooltip!"></a>
	      </div>

	      <div id="vis">
	      </div>
          </div>


         <!-- diagnostic plots and test details -->
          <div class="span6">

              <div class="row">
                <div class="span3" id="density2"></div>
                <div class="span3" id="corr1"></div>
                <div class="span3 hidden" id="trace">
                  <img class="img-diag" alt="trace plot"/>
                </div>
              </div>

              <div class="row">
                <div class="span3" id="corr2"></div>
                <div class="span3" id="density1"></div>
                <div class="span3 hidden" id="autocor">
                  <img class="img-diag" alt="autocorrelation plot" />
                </div>
                <div class="span3 hidden" id="autocor">
		  <ul>
		    <li>Heidelberger:
                      <ul>
                        <li>
                          start: <span id="heidel-start" class="diagnostics"></span>
                        </li>
                        <li>
                          p-value: <span id="heidel-pvalue" class="diagnostics"></span>
                        </li>
                      </ul>
                    </li>
		    <li>Geweke: <span id="geweke" class="diagnostics"></span></li>
		    <li>ESS: <span id="ess" class="diagnostics"></span></li>
		  </ul>
                </div>
              </div>

          </div>
      
        </div>

        <hr/>

        <!-- Filtering -->
        <div class="row" id="filtering">

          <!-- Plots -->
          <div class="span7">

            <!-- Trajectories plot -->
            <div class="accordion" id="plotTraj">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotTraj" href="#plotTrajContent">Time series</a>
                </div>

                <div id="plotTrajContent" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div id="graphTraj"></div>
                    <div id="tickTraj" class="tickGraph horizontal-scroll"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- States plot and diffusions -->
            <div class="accordion" id="plotState">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotState" href="#plotStateContent">State Variables</a>
                </div>

                <div id="plotStateContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div id="graphState"></div>
                    <div id="tickState" class="tickGraph horizontal-scroll"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- prediction residuals -->
            <div class="accordion" id="plotPredRes">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotLike" href="#plotPredResContent">Prediction residuals</a>
                </div>
                <div id="plotPredResContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div id="graphPredRes"></div>
                    <div id="tickPredRes" class="tickGraph horizontal-scroll"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ESS -->
            <div class="accordion" id="plotEss">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotLike" href="#plotEssContent">ESS</a>
                </div>
                <div id="plotEssContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div id="graphEss"></div>
                  </div>
                </div>
              </div>
            </div>



          </div>

          <!-- Controls -->
          <div class="span5">

            <div>
              <button id="run" class="btn" type="button"><i class="icon-play"></i> Run</button>
              <button id="stop" class="btn" type="button"><i class="icon-remove"></i> Stop</button>
            </div>

            <div id="control"></div>

          </div>

        </div>

        <hr/>

        <!-- Feedback zone -->
        <div class="row"  id="rowFeedbackTheta">
          <div class="span7">
            <h3>Feedback</h3>
          </div>

          <div class="span5">
            <h3>Add</h3>

            <form>

              <label for="feedbackMethod">Provide feedback on the method</label>              
              <textarea id="feedbackMethod" rows="3" class="span5"></textarea>

              <label for="feedbackTheta">Provide feedback on the parameter values</label>
              <button class="btn" style="float:left;" type="button"><i class="icon-file"></i> Attach run</button>
              <textarea id="feedbackTheta" rows="3" class="span5"></textarea>

              <p>
                <button class="btn btn-success" type="button">Validate</button>
                <button class="btn btn-danger" type="button">Need more work</button>
              </p>
            </form>

          </div>

        </div>



      </div>




      <!-- Model review -->
      <div class="tab-pane" id="model">

        <div class="row">

          <div class="span12">


            <ul class="nav nav-tabs" id="reviewModelTab">
              <li class="active">
                <a href="#review-context" data-toggle="tab">Context</a>
              </li>
              <li>
                <a href="#review-process" data-toggle="tab">Process Model</a>
              </li>
              <li>
                <a href="#review-link" data-toggle="tab">Observation Model</a>
              </li>
            </ul>

            <div class="tab-content">

              <!-- context -->
              <div class="tab-pane active" id="review-context">

                <p>This is the context</p>

              </div>

              <!-- process -->
              <div class="tab-pane" id="review-process">

                <p>This is the process</p>
                
              </div>

              <!-- link -->
              <div class="tab-pane" id="review-link">

                <p>This is the link</p>
                
              </div>

            </div>

          </div>
        </div>



        <!-- Feedback zone -->
        <div class="row">
          <div class="span7">
            <h3>Feedback</h3>
          </div>

          <div class="span5">
            <h3>Add</h3>

            <form>

              <label for="feedbackModel">Provide feedback on the model and its adequation to the context</label>
              <textarea id="feedbackModel" rows="3" class="span5"></textarea>

              <p>
                <button class="btn btn-success" type="button">Validate</button>
                <button class="btn btn-danger" type="button">Not convincing</button>
              </p>
            </form>

          </div>

        </div>






    </div>
  </div>
</div>


<% include footer %>
