<% include layout %>

<% include header %>







<div class="container">
	
	<div class="row">
		<div class="span12">
			<hr>
		</div>
	</div>
	
	<div class="row">
		<div class="span4">
			<img src="http://placehold.it/160x160" class="img-polaroid">
			<h3><span>UserName</span></h3>
			<p><small>Joined on DATE.  Latest posting on DATE.</small></p>
			<div class="row">
				<div class="span4">
					<hr style="width:80%">
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<p><strong>3</strong><small><br>followers</small></p>
				</div>
				<div class="span2">
					<p><strong>10</strong><small><br>following</small></p>
				</div>
			</div>

		</div>
		<div class="span8">
			<h3>Activity Summary</h3><br>
			<div class="row">
				<div class="span4">
					<h4>Context</h4>
				</div>
				<div class="span1">
					<h5>Create</h5>
				</div>
				<div class="span1">
					<h5>Follow</h5>
				</div>
				<div class="span1">
					<h5>Fork</h5>
				</div>
				<div class="span1">
					<h5>Comment</h5>
				</div>
				
			</div><br>

			<div class="row">
				<div class="span4">
					<h4>Model</h4>
				</div>
				<div class="span1">
					<h5>Create</h5>
				</div>
				<div class="span1">
					<h5>Follow</h5>
				</div>
				<div class="span1">
					<h5>Fork</h5>
				</div>
				<div class="span1">
					<h5>Comment</h5>
				</div>
			</div><br>
			
			<div class="row">
				<div class="span4">
					<h4>Theta</h4>
				</div>
				<div class="span1">
					<h5>Create</h5>
				</div>
				<div class="span1">
					<h5>Follow</h5>
				</div>
				<div class="span1">
					<h5>Fork</h5>
				</div>
				<div class="span1">
					<h5>Comment</h5>
				</div>
			</div><br>
			
			<div class="row">
				<div class="span4">
					<h4>Review</h4>
				</div>
				<div class="span1">
					<h5>Create</h5>
				</div>
				<div class="span1">
					<h5>Follow</h5>
				</div>
				<div class="span1">
					<h5>Fork</h5>
				</div>
				<div class="span1">
					<h5>Comment</h5>
				</div>
			</div><br>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<hr>
		</div>
	</div>

</div>