<% include layout %>
<% include header %>

</div>

<div class="hero-unit" id="plomMain">

  <div class="container">
    <div class="span6">
      <h1 class="lead">Make modeling social</h1><br>
      <img src="/images/observation_small.png">
      <p class="lead">PLoM.io provides a new ecosystem for model-based science</p>
    </div>

    <div class="span4">

      <% if(locals.fail){ %>
      <div class="alert alert-error">
        <strong>Error:</strong> <%= fail %>
      </div>
      <% } %>


      <% if(locals.validation){ %>
      <div class="alert alert-error">
        <strong>Error:</strong> <%= validation %>
      </div>
      <% } %>

      <form action="/register" method="POST">
        <input name="_csrf" value="<%= token %>" type="hidden"/>

        <p>
          <label>username:</label>
          <input name="user[_id]" type="text"/>
        </p>

        <p>
          <label>email:</label>
          <input name="user[email]" type="text"/>
        </p>

        <p>
          <label>password:</label>
          <input name="user[password]" type="password"/>
        </p>

        <p>
          <button type="submit" class="btn btn-large btn-success">Register today</button>
        </p>
      </form>

    </div>         
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="span4">
      <h4 class="lead"><strong>Search</strong></h4>
      <p>
        Browse the library of data, models, and results, starting
        with epidemiology.  PLoM.io's grammar of models allows you to discover new connections between places, pathogens, or models within the library. <i class="icon-search"></i>
      </p>
    </div>
    <div class="span4">
      <h4 class="lead"><strong>Customize</strong></h4>
      <p>
        Save time and prevent errors. Start your work by customizing a previously
        published model in the library.  Then, use PLoM.io's optimized statistical inference methods to run your model on the cloud.  <i class="icon-cog"></i>
      </p>
    </div>
    <div class="span4">
      <h4 class="lead"><strong>Update</strong></h4>
      <p>
        Don't let your science become outdated: Plug your models into data streams.  As new data become available, PLoM.io allows you to easily re-run your models and obtain updated results.  <i class="icon-refresh"></i>
      </p>
    </div>
  </div>


  <div class="featurette get-started">
    <h3 style="text-align:center">Increase efficiency. Solve problems collaboratively. Get feedback. Publish.</h3>
    <figure style="text-align:center;"><a href="/library" class="btn btn-primary btn-large">Get Started</a></figure>
  </div>


</div>

<div>
<hr/>

  <div class="container">
    <div class="featurette" >
      <h2>It's time to change the way we do model-based science.</h2>
      <p class="lead">
        Use PLoM.io to query, customize, or contribute data
        streams and models and help build the
        Public Library of Models, starting with epidemiology
      </p>
    </div>
  </div>

<hr/>

</div>

<div class="container">


  <% include footer %>
