<% include layout %>
<% include header %>

</div>

<div class="hero-unit" id="plomMain">

  <div class="container">
    <div class="span6">
      <h1 class="lead">Make modeling social</h1><br>
      <img src="/images/observation_small.png">
      <p class="lead">PLoM.io provides a new ecosystem for model-based science</p>
    </div>

    <div class="span4">

      <form action="/register" method="POST">
        <input name="_csrf" value="" type="hidden"/>

        <p>
          <label>username:</label>
          <input name="user[_id]" type="text"/>
        </p>

        <p>
          <label>email:</label>
          <input name="user[email]" type="text"/>
        </p>

        <p>
          <label>password:</label>
          <input name="user[password]" type="password"/>
        </p>

        <p>
          <button type="submit" class="btn btn-large btn-success">Register today</button>
        </p>
      </form>

    </div>         
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="span4">
      <h4>Search</h4>
      <p>
        Browse the library of data, models, and results, starting
        with epidemiology.  The semantic structure allows you to
        discover new connections within the network of scientific
        knowledge on a subject.
      </p>
    </div>
    <div class="span4">
      <h4>Customize</h4>
      <p>
        Save time and prevent errors. Never create a model from
        scratch again. Start your work by customizing a previously
        published model and use the powerful statistical inference
        methods to run your model in PLoM.io.
      </p>
    </div>
    <div class="span4">
      <h4>Watch your models evolve</h4>
      <p>
        PLoM.io guarantees the reproducibility of models published
        on the platform with its automated review process and
        provides interactive data visualizations to accompany your
        scientific publications.
      </p>
    </div>
  </div>


  <div class="featurette get-started">
    <h3 style="text-align:center">Increase efficiency. Solve problems collaboratively. Get feedback. Publish.</h3>
    <figure style="text-align:center;"><a href="/library" class="btn btn-primary btn-large">Get Started</a></figure>
  </div>


</div>

<div>
<hr/>

  <div class="container">
    <div class="featurette" >
      <h2>It's time to change the way we do model-based science.</h2>
      <p class="lead">
        Use PLoM.io to query, customize, or contribute data
        streams and models and help build collaboratively the
        Public Library of Models
      </p>
    </div>
  </div>

<hr/>

</div>

<div class="container">


  <% include footer %>
