<hr/>



<footer>
<% var d = new Date(); %>
<p>&copy; plom.io <%= d.getFullYear() %> | <a href="m&#97;i&#108;t&#111;&#58;s&#101;&#98;a&#115;&#116;&#105;en&#64;&#112;lom&#46;&#105;o">contact</a></p>
</footer>


</div>

</body>
</html>
