<% include layout %>

<a href="https://github.com/plom"><img style="position:absolute; top:42px; right:0;  border: 0;" src="images/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div id="sfr-main" class="hero-unit">

  <h1>PLoM Documentation</h1>

  <p class="sfr-brand">Building libraries of models, shaping the future of public health policies</p>

  <img src="images/logo-large.png" class="sfr-logo-center"  alt="plom-logo"/>

    <p>
      PLoM modular design makes it possible
      to separate models from their contexts. By
      keeping things separate, any model can
      be expanded to any context&#151allowing
      epidemiological modeling to become <strong>social</strong>.
    </p>


</div>


<div class="row">

  <div class="span4">
    <h2>Policy Maker?</h2>

    <p>
      Learn all PLoM basics right from your web browser.
    </p>

    <p><a class="btn" href="#">Learn more &raquo;</a></p>
  </div>

  <div class="span4">

    <h2>Modeler?</h2>

    <p>
      Learn the grammar, combine inference methods, enjoy the workflow.
    </p>

    <p><a class="btn" href="/doc/modeler/intro">Learn more &raquo;</a></p>
  </div>

  <div class="span4">

    <h2>Developer?</h2>

    <p>Learn PLoM powerful API. Join us on <a href="https://github.com/plom">github</a>.</p>

    <p><a class="btn" href="https://github.com/plom">Learn more &raquo;</a></p>
  </div>
</div>


<% include footer %>
