extends layout

block content 



  if(locals.fail)
    div.alert.alert-error
      | <strong>Error:</strong> #{fail}


  if(locals.validation)
    div.alert.alert-error
      | <strong>Error:</strong> #{validation}


  form(action="/register", method="POST")
    fieldset
      legend Register

      div.alert.alert-error
        | <strong>Important</strong> plom.io is not ready for production and the database is deleted on a daily basis.
        | To help us build plom.io faster, we invite you to contribute on <a href="https://github.com/plom">github</a>.


      input(name="_csrf", value=token, type="hidden")      
      p
        label username: 
        input(name="user[_id]", type="text")

      p
        label email: 
        input(name="user[email]", type="text", value=(locals.me && me.email) )

      p
        label password: 
        input(name="user[password]", type="password")

      p
        button(type="submit").btn Register
