#sfr-horizon-graph .axis {
  font-family: arial; font-size:0.6em;
}

#sfr-horizon-graph path {
  fill:none; 
}

#sfr-horizon-graph .tick {
  fill:none;
  stroke:black; 
}

.sfr-follow{
  float:right;
}


#sfr-horizon-control .btn-toolbar{
  margin-top:0px;
}