#plom-horizon-graph .axis {
  font-family: arial; font-size:0.6em;
}

#plom-horizon-graph path {
  fill:none; 
}

#plom-horizon-graph .tick {
  fill:none;
  stroke:black; 
}

.plom-toolbar{
  float:right;
}


#plom-horizon-control .btn-toolbar{
  margin-top:0px;
}

.hidden{
  display:none;
}
