/* review */

.review-action{
  float:right;
}



/* index */
#plom-search{
  width:294px;
}

.folderContent{
  padding: 10px;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(230,230,230,1);
}

.context-box{
  display: inline-block;
  width:300px;
  height:240px;
}

.context-graph{
  width:200px;
  height:120px;
}

.process-graph{
  width:200px;
  height:180px;
}

.dygraph-axis-label-x {
  font-size: 10px;
  color: grey;
}


.horizontal-scroll
{
  width:100%;
  white-space: nowrap;
  overflow-x: auto;
}

.model-box{
  width:300px;
  display:table-cell; 
  padding-right:20px;
}

.parameter-box{
  width:300px;
  height:100px;
  overflow-y: auto;
}

.related-box{
  width:300px;
  height:50px;
  overflow-y: auto;
}


path.link {
  fill: none;
  stroke-width: 1.5px;
}

marker#transmission {
  fill: #f15b22;
}

path.link.transmission {
  stroke: #f15b22;
}

marker#basic {
  fill: #ccc;
}

path.link.basic {
  stroke: #ccc;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.infector {
  fill: #f15b22;
}

circle.source {
  fill: #6ba5c5;
}

circle.DU {
  fill: white;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .2;
}


.hidden {
  display:none;
}


.explore{
  float:left;
}

.activetext{
  font-weight:bold;
  fill:red;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.density {
  fill: rgba(234,234,234,0.8);
  stroke-width: 1.5px;
}

#diag-plots{
  height: 480px;
}


#theta-list div{
  display:table-cell; 
  padding-right: 40px;
}


#lock{
  position: absolute;
  z-index:2;
}

#ourtooltip{
  position: absolute;
  z-index:2;
}

#ActiveMatComp{
  position: absolute;
  z-index:1;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(230,230,230,0.8);
}

.dot{
  opacity:0.4;
}


#controlTab{
  margin-top: 10px;
}

#ctr-methods select{
  width: 100%;
}


#slider{
  position:absolute;
  width:250px;
  background: none;
}


.tickGraph div{
  display:table-cell; 
  padding-right: 20px; 
}
