/* user */
div.create{
  background-color: orange;
  margin-top: 1px;

}
div.follow{
  background-color: green;
}
div.comment{
  background-color: purple;
}


/* welcome */
#plomMain{
  background-color: white;  
  margin-top: 20px;
//  border: 1px solid rgb(238,238,238);
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(112,197, 235, 0.4);
//  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#plomMain h1{
  font-size: 36pt;
 }

 #plomMain form{
   margin-left:70px;

 }

 #headerLogo{
   background:url(../images/logo-large.png) no-repeat left center;
   background-size: auto 80px;
 }

 #headerLogo h1, #headerLogo p{
   margin-left: 120px;
 }


 .homebox h4
 {
   text-align: center;
 }

 .featurette h2 {
   color: #3DAAE0;
   font-weight: 400;
 }

 .get-started{
   margin-top:10px;
 }

#plomNav {
  float: right;
  margin-top: 3%;
}



/* about */

h3.role{
  border-bottom:1px solid #eaeaea;
  padding-bottom:25px;position:relative;
  text-align:center
}

h3.role:after,h3.role:before{
  border:20px solid transparent;
  bottom:-20px;content:"";
  display:inline-block;
  margin-right:-20px;position:absolute;right:50%
}

h3.role:after{
  border-bottom-width:0;
  border-top-color:#fff;
  margin-bottom:2px;z-index:2
}
h3.role:before{
  border-bottom-width:0;
  border-top-color:#eaeaea;
  z-index:1
}
p:before{
  border-left-width:0;
  border-right-color:#eaeaea;
  z-index:1
}

.bio{
  height:150px;
}

.bio:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); 
}


/* review */

.social-action{
  float:right;
}

.social-action form{
  float: left;
  margin-right: 10px;
}



/* index */

.folderContent{
  padding: 10px;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(230,230,230,1);
}

.context-box{
  display: inline-block;
  width:300px;
  height:240px;
}

.context-graph{
  width:200px;
  height:120px;
}

.process-graph{
  width:200px;
  height:180px;
}

.dygraph-axis-label-x {
  font-size: 10px;
  color: grey;
}


.score span{
  color: #f15b22;
  font-size: 18px;
}

.horizontal-scroll
{
  width:100%;
  white-space: nowrap;
  overflow-x: auto;
}

.model-box{
  width:300px;
  display:table-cell; 
  padding-right:20px;
}

.parameter-box{
  width:300px;
  height:100px;
  overflow-y: auto;
}

.related-box{
  width:300px;
  height:50px;
  overflow-y: auto;
}


path.link {
  fill: none;
  stroke-width: 1.5px;
}

marker#transmission {
  fill: #f15b22;
}

path.link.transmission {
  stroke: #f15b22;
}

marker#basic {
  fill: #ccc;
}

path.link.basic {
  stroke: #ccc;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.infector {
  fill: #f15b22;
}

span.infector{
  color: #f15b22;
}

circle.source {
  fill: #6ba5c5;
}

circle.DU {
  fill: white;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .2;
}


.hidden {
  display:none;
}


.explore{
  float:left;
}

.activetext{
  font-weight:bold;
  fill:red;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.density {
  fill: rgba(234,234,234,0.8);
  stroke-width: 1.5px;
}

.density_prior {
  fill: rgba(234,234,234,0.8);
  stroke-width: 1.5px;
}

.density_post {
  fill: rgba(200,200,200,0.8);
  stroke-width: 1.5px;
}

.line{
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

#diagPlots{
  height: 480px;
}


#theta-list div{
  display:table-cell; 
  padding-right: 40px;
}


#lock{
  position: absolute;
  z-index:2;
}

#outlaid{
  position: absolute;
  z-index:2;
}

#ActiveMatComp{
  position: absolute;
  z-index:1;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(230,230,230,0.8);
}

.dot{
  opacity:0.4;
}


#controlTab{
  margin-top: 10px;
}

#ctr-methods select{
  width: 100%;
}


#slider{
  position:absolute;
  width:250px;
  background: none;
}


.tickGraph div{
  display:table-cell; 
  padding-right: 20px; 
}

.goodIndicator{
    font-size:x-small;
}

.badIndicator{
    font-size:small;
    color:red;
}

