path.link {
  fill: none;
  stroke-width: 1.5px;
}

marker#transmission {
  fill: #f15b22;
}

path.link.transmission {
  stroke: #f15b22;
}

marker#basic {
  fill: #ccc;
}

path.link.basic {
  stroke: #ccc;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}


circle.erlang {
  fill: rgb(253,254,133);
}

circle.infector {
  fill: #f15b22;
}

circle.source {
  fill: #6ba5c5;
}

circle.DU {
  fill: white;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .2;
}


.hidden {
  display:none;
}
