#headerLogo{
  background:url(../images/logo-large.png) no-repeat left center;
  background-size: auto 80px;
}

#headerLogo h1, #headerLogo p{
  margin-left: 120px;
}

#plomNav {
  float: right;
  margin-top: 3%;
}
