<form class="form-inline">

  <select id="algo" class="input-small">
    <option value="simul">Simul</option>
    <option value="smc">SMC</option>
    <option value="kalman">EKF</option>
  </select>

  <select id="impl" class="input-small">
    <option value="ode">ODE</option>
    <option value="sde">SDE</option>
    <option value="psr">PSR</option>
  </select>

  <div class="input-prepend input-append">
    <span class="add-on">dt</span>
    <input type="text" id="s" class="input-mini">
    <span class="add-on">unit</span>
  </div>

  <label class="checkbox">
    <input type="checkbox" name="no_dem_sto" value="no_dem_sto"> no dem
  </label>
  <label class="checkbox">
    <input type="checkbox" id="no_env_sto" value="no_env_sto"> no env
  </label>
  <label class="checkbox">
    <input type="checkbox" id="no_drift" value="no_drift"> no drift
  </label>

  <div class="input-append">
    <input type="text" id="J" class="input-mini">
    <span class="add-on">particles</span>
  </div>

  <div class="btn-group pull-right">
    <button id="run" class="run btn" type="button"><i class="icon-play"></i> Run</button>
    <button id="stop" class="stop btn" type="button"><i class="icon-remove"></i> Stop</button>
    <button id="reset" class="reset btn" type="button"><i class="icon-refresh"></i> Reset</button>
  </div>

</form>
