<% names.forEach(function(name, i){ %>

<div>
  <label class="checkbox inline">
    <input class="tick_<%= suffix %>" value="<%= i %>" type="checkbox" checked="checked"> <%= name %>
  </label>
</div>

<% }); %>
