<!DOCTYPE html>
<html>
  <head>
  <head>

    <title>PLoM Documentation</title>

    <meta name="description" content="PLoM documention" />
    <meta name="keywords" content="PLoM documention" />
    <meta name="author" content="Sebastien Ballesteros" />

    <link rel="stylesheet" media="screen" type="text/css"  href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" type="text/css"  href="/lib/google-code-prettify/prettify.css" />
    <link rel="stylesheet" media="screen" type="text/css"  href="/stylesheets/doc.css" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/set_active_menu.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/google-code-prettify/prettify.js"></script>

  </head>

  <body onload="prettyPrint()">


    <div class="navbar">
      <div class="navbar-inner">
        <a href="/" class="brand"><img src="/images/logo-small.png"></a>
        <ul class="nav">
          <li> <a href="/library">Library</a> </li>
          <li> <a href="#">Social</a> </li>
          <li> <a href="/doc">Documentation</a></li>
        </ul>

        <ul class="nav pull-right">
          <li> <a href="#">Login</a> </li>
          <li> <a href="#">Sign up</a> </li>
        </ul>

      </div>

    </div>

    <div class="container">
