<% include ../layout %>

<div class="page-header">
  <h1>2009 H1N1 pandemic</h1>
  <h1><small>Using diffusions to track the evolution of contacts among Londoneers</small></h1>
</div>

<div class="row">

  <div class="span4 offset4">
    <img src="/images/H1N1data.png" alt="H1N1 data" class="sfr-img-center">
  </div>

</div>




<div class="page-header">
  <h1>Define your context, process, link and theta</h1>
</div>



<div class="row">
  <div class="span6">
    <h2>Context  <small> incidence data, London </small></h2>
  </div>
</div>


<div class="row">


  <div class="span6">

    <p><strong>Data</strong>:
      <ul>
        <li>time series of weekly total H1N1 cases recorded by GPs (provided by the Health Protection Agency, corrected for misdiagnostics with confounding diseases).
        </li>
        <li>10% of total cases considered to be monitored due to asymptomatic cases and under-reporting.</li>
      </ul>      
    </p>
   </div>

    
   <div class="span3">


    <p><strong>Meta-data</strong>:
      <ul>
        <li>Population size</li>
      </ul>      
    </p>

    <p><strong>Structure</strong>:
      <ul>
        <li>London as a whole, for a start</li>
      </ul>      
    </p>
  </div>

</div>


<div class="row">

  <div class="span12">
    

    <div class="accordion" id="link-json">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#link-json" href="#collapseContext">
            context.json
          </a>
        </div>
        <div id="collapseContext" class="accordion-body collapse">
          <div class="accordion-inner">

<pre class="prettyprint">
{
  "name": "Flu 2009 London - HPA",
  "description": "2009 influenza pandemic in London - HPA data",

  "population": [{"id": "London__all",
                  "size_t0": 1e5,
                  "comment": "London, all age classes"}],

  "disease": ["Influenza"],

  "time_series": [{"id": "London__HPA__inc",
                   "population_id": ["London_all"],
                   "comment": ""}],

  "frequency": "W",

  "data": [{"id": "data",
            "source": "data/data.csv",
            "comment": "weekly estimate of H1N1 cases recorded by GPs (per 100000 inhabitants)"},

           {"id": "prop",
            "source": "data/prop.csv",
            "comment": "proportion of the population under surveillance"}]
}
</pre>

          </div>
        </div>
      </div>
    </div>
    

  </div>    


</div>
 

<div class="row">


  <div class="span6">
    <h2>Process <small> simple model, diffusing parameter</small></h2>
 </div>
</div>




<div class="row">
  <div class="span6">

      <ul>
        <li>Simple deterministic S-E-I-R skeleton, we work with a large population, and environmental noise is attributed to variations in effective contacts.  Homogeneous population as a first approximation, age structure can be added subsequently.</li>
      </ul>
  </div>    
  <div class="span6">
      <ul>
        <li>To capture how nature and frequency of contacts evolve, the effective contact rate parameter fis allowed to diffuse, with unknown volatility. </li>
      </ul>
  </div>    
</div>

<div class="row">
  <div class="span12">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#examples-prog" href="#collapseJson">
            process.json
          </a>
        </div>
        <div id="collapseJson" class="accordion-body collapse">
          <div class="accordion-inner">

    

<pre class="prettyprint">
{
  "name": "SEIR beta_t",
  "description": "SEIR model with diffusion over time-varying effective contact rate beta_t",

  "state": [{"id": "S", "comment": "Susceptible"},
            {"id": "E", "comment": "Exposed"},
            {"id": "I", "comment": "Infectious"}],

  "parameter": [{"id": "beta",   "comment": "effective contact rate"},
               {"id": "k",    "comment": "latent phase leaving rate"},
               {"id": "v",    "comment": "recovery rate"},
               {"id": "vol",  "comment": "volatility of beta"}],

  "model": [{"from": "S", "to": "E",  "rate": "drift(beta, vol) * I/N", "tag":[{"id": "transmission", "by":["I"]}], "comment":"infection"},
           {"from": "E", "to": "I" , "rate": "k", "comment":"leaving latent phase"},
           {"from": "I", "to": "DU", "rate": "v", "comment":"recovery"}],


  "pop_size_eq_sum_sv": false
}
</pre>

<p>Note: the diffusion over <code>beta</code> is simply introduced through <code>drift(beta, vol)</code> </p>

          </div>
        </div>
      </div>


  </div>    
</div>


<div class="row">
  <div class="span6">
    <h2>Link</h2>
  </div>
</div>

<div class="row">

  <div class="span6">
    
    <p>
      <ul>
        <li>Incidence data corresponds to individuals leaving the latent phase and starting to develop symptoms: this is the "E" to "I" flow.</li>
      </ul>
    </p>
 
  </div>    
</div>




<div class="row">

<div class="span12">

    <div class="accordion" id="link-json">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#link-json" href="#collapseLink">
            link.json
          </a>
        </div>
        <div id="collapseLink" class="accordion-body collapse">
          <div class="accordion-inner">

<pre class="prettyprint">
{
  "name": "my_link",
  "description": "multiplicative noise",

  "observed": [{"id": "inc",
                "comment": "incidence",
                "definition": [{"from": "E", "to": "I"}],
                "time_series_id": ["London__HPA__inc"]}],

  "parameter": [{"id": "phi",  "comment": "observation noise"}],

  "model": {"distribution": "discretized_normal",
            "mean": "prop*x",
            "var": "(phi*prop*x)**2"}
}
</pre>



          </div>
        </div>
      </div>


    </div>



  </div>  

</div>  

















<div class="row">


  <div class="span6">
    <h2>Theta</h2>
 </div>
</div>

<div class="row">

  <div class="span6">
    
    <p>
      
      <ul>

        <li>Set min and max to reflect your previous knowledge if you want to be Bayesian</li>
      </ul>
    </p>
  </div>

 <div class="span6">
    <p>
      
      <ul>

        <li>Assign wide uniform priors to refloct your ignorance on the other parameters</li>
      </ul>
    </p>
  </div>    
</div>




<div class="row">

  <div class="span12">

    <div class="accordion" id="theta-json">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#theta-json" href="#collapsetheta">
            theta.json
          </a>
        </div>
        <div id="collapsetheta" class="accordion-body collapse">
          <div class="accordion-inner">


<pre class="prettyprint">
{
  "Name":"my_theta",
  "description":"latent and infectious period Period from Baguelin et al. 2010",

  "value":{
  
        "S":{"guess":{"all":0.8},"transformation":"logit","min":{"all":0.7},"max":{"all":1},"sd_transf":{"all":0.2},"prior":"normal","partition_id":"identical_population"},
        
        "E":{"guess":{"all":1e-05},"transformation":"logit","min":{"all":0},"max":{"all":1},"sd_transf":{"all":0.2},"prior":"uniform","partition_id":"identical_population"},
        
        "I":{"guess":{"all":1e-05},"transformation":"logit","min":{"all":0},"max":{"all":1},"sd_transf":{"all":0.2},"prior":"uniform","partition_id":"identical_population"},
        
        "beta":{"guess":{"all":1},"transformation":"log","min":{"all":0},"max":{"all":100},"sd_transf":{"all":0.2},"unit":"D","prior":"uniform","partition_id":"identical_population"},
        
        "k":{"guess":{"all":1.6},"transformation":"log","min":{"all":1.55},"max":{"all":1.63},"sd_transf":{"all":0.2},"type": "rate_as_duration","unit":"D","prior":"normal","partition_id":"identical_population"},
        
        "v":{"guess":{"all":1.1},"transformation":"log","min":{"all":0.93},"max":{"all":1.23},"sd_transf":{"all":0.2},"type": "rate_as_duration","unit":"D","prior":"normal","partition_id":"identical_population"},
        
        "vol":{"guess":{"all":0},"transformation":"log","min":{"all":0},"max":{"all":100},"sd_transf":{"all":0.2},"prior":"uniform","partition_id":"identical_population"},
           
        "phi":{"guess":{"all":0.1},"transformation":"log","min":{"all":0.1},"max":{"all":0.1},"sd_transf":{"all":0},"prior":"uniform","partition_id":"identical_time_series"}},

 "partition":{"variable_population":{"group":[{"id":"London__all","population_id":["London__all"]}]},
            "variable_time_series":{"group":[{"id":"London__HPA__inc","time_series_id":["London__HPA__inc"]}]},
            "identical_population":{"group":[{"id":"all","population_id":["London__all"]}]},
            "identical_time_series":{"group":[{"id":"all","time_series_id":["London__HPA__inc"]}]}}
}
</pre>



            <p>Note:
              <ul>
                <li><code>transformation</code> for state variables default to <code>logit</code></li>
                <li><code>transformation</code> for process parameters default to <code>log</code></li>
                <li><code>prior</code> default to <code>uniform</code></li>
              </ul>

            </p>

          </div>
        </div>
      </div>


    </div>

  </div>  

</div>  














<div class="page-header">
  <h1>Explore the posterior density<small> three simple steps</small></h1>
</div>


<div class="row">

  <div class="span10">
    <h3>Strategy</h3>

    <p>
      This is a simple model, follow this simple three steps choreography:
    </p>


    <ul>

      <li>
        <strong>Get close to the mode</strong>
        <p>
          The ksimplex algorithm relies on an approximation of you model that is both quick and able to capture the stochasticity of your diffusing parameter. It should get you close to the mode in a few seconds:
          <pre class="prettyprint">fit theta | ./ksimplex deter --prior -M 1000</pre>
        </p>
      </li>

      <li>
        <strong>Take a quick walk around</strong>
        <p>
          The kmcmc algorithm explores a posterior density that is close to the one we are targetting, and it does it quickly:
          <pre class="prettyprint">fit theta -B | ./kmcmc deter -M 10000 --full</pre>
        </p>
      </li>

      <li>
        <strong>Launch a well-prepared pMCMC</strong>
        <p>
          a pMCMC that is initialized close to the mode, with a good covariance matrix, can run very smoothly provided you give it enough particles:
          <pre class="prettyprint">fit theta -B -C | ./pmcmc deter -M 10000 -J 10000 --full</pre>
        </p>
      </li>

    </ul>

  </div>
  
</div>

<div class="row">

  <div class="span12">
    <h3>Results</h3>
  </div>

  <div class="span10 offset1">
    <img src="/images/H1N1trajest_all.png" alt="beta trajectory estimate" class="sfr-img-center">

    <p style="vertical-align:middle">
      In a few minutes, the epidemic data can be fitted and translated it into an estimated underlying trajectory of how the contacts among Londoneers have evolved during the pandemic.
    </p>

  </div>
  
</div>


<div class="page-header">
  <h1>Real time monitoring?<small> track contacts evolution as you collect data</small></h1>
</div>

<div class="row">


 <div class="span12">

<div id="myCarousel" class="carousel slide" >
  <!-- Carousel items -->
  <div class="carousel-inner">
    
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Jul20.png" alt="" />
      <div class="carousel-caption">
        <p>July 20th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Jul27.png" alt="" />
      <div class="carousel-caption">
        <p>July 27th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Aug3.png" alt="" />
      <div class="carousel-caption">
        <p>August 3rd</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Aug10.png" alt="" />
      <div class="carousel-caption">
        <p>August 10th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Aug17.png" alt="" />
      <div class="carousel-caption">
        <p>August 17th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Aug24.png" alt="" />
      <div class="carousel-caption">
        <p>August 24th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Aug31.png" alt="" />
      <div class="carousel-caption">
        <p>August 31st</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Sep7.png" alt="" />
      <div class="carousel-caption">
        <p>September 7th</p>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <img src="/images/H1N1trajest_Sep14.png" alt="" />
      <div class="carousel-caption">
        <p>September 14th</p>
      </div>
    </div>


    </div>
    
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>




</div>

</div>


<div class="row">
  <div class="span2 offset10">
    <a class="btn" href="http://arxiv.org/abs/1203.5950">More details?</a>
  </div>
</div>


<% include ../footer %>
