<% include ../layout %>



<div id="sfr-main" class="hero-unit">

  <h1>PLoM References</h1>



    <p>
      Inference methods in PLoM, and their implementation, rely on state-of-the-art scientific litterature and computing libraries. 
    
    
    
    </p>

    <p>
Here's a <a href="http://arxiv.org/abs/1211.3967">quick overview</a>  of PLoM's approach to inference. For more details we provide the main references for the concepts and tools PLoM relies on, with attached keywords.
    </p>

</div>

 
<br>


<dl class="dl-horizontal">

 <dt> diffusions</dt>
 <dd>Dureau, J., Kalogeropoulos, K. and Baguelin, M. (2012) Capturing the time-varying drivers of an epidemic via stochastic dynamical systems. <em>Biostatistics.</em> <a href="http://arxiv.org/abs/1203.5950">link to arXiv</a></dd>

  <dt>json</dt>
 <dd>JavaScript Object Notation, <a href="http://www.json.org/">official website</a></dd>
</dd>

  <dt>kalman</dt>
  <dd>Jazwinski, A.H. (1970) Stochastic Processes and Filtering Theory. <em>Academic press.</em> <a href="http://books.google.fr/books/about/Stochastic_Processes_and_Filtering_Theor.html?id=nGlSNvKyY2MC&redir_esc=y">link to Google books</a></dd>

 <dt> kmcmc</dt>
 <dd>methodology introduced in Dureau et al. 2012 (see diffusions)</dd>

   <dt> mif</dt>
 <dd>Ionides, E., Bhadra, A., Atchadé, Y. and King, A. (2011) Iterated Filtering. <em>Annals of Statistics.</em><a href="http://arxiv.org/abs/0902.0347">link to arXiv</a></dd>

  <dt> parallel computing</dt>
 <dd>ZEROMQ, <a href="http://www.zeromq.org">official website</a></dd>

  <dt> pmcmc</dt>
 <dd>Andrieu, C., Doucet, A. and Holenstein, R. (2010) Particle Markov Chain Monte Carlo methods.  <em>Journal of the Royal Statistical Society: Series B (Statistical Methodology).</em> <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1467-9868.2009.00736.x/abstract">link to article</a></dd>

 <dt> simplex</dt>
 <dd>Nelder, J. and Mead, R. (1965) A Simplex Method for Function Minimization.  <em>The Computer Journal.</em> <a href="http://comjnl.oxfordjournals.org/content/7/4/308.short">link to article</a></dd>

 <dt> scientific library</dt>
  <dd>GNU Scientific Library, <a href="http://www.gnu.org/software/gsl/"> official website</a></dd>

 
</dl>



<% include ../footer %>
