<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="opt-method">Method</label>
    <div class="controls">
      <select>
        <option value="simul">Simulation</option>
        <option value="smc">Sequential Monte Carlo (SMC)</option>
        <option value="kalman">Extended Kalman Filter (EKF)</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="opt-J">Number of particles/ realisations</label>
    <div class="controls">
      <input type="text" id="opt-J" class="input-small">
    </div>
  </div>

</form>

<table>

  <tr>
    <th>name</th>
    <th>min</th>
    <th>value</th>
    <th>max</th>
    <th>diff</th>
  </tr>

  <tr>
    <td>smtg</td>
    <td><input type="text" name="prop___par___group" value="0" class="input-mini" /></td>
    <td><input type="text" name="prop___par___group" value="0" class="input-mini" /></td>
    <td><input type="text" name="prop___par___group" value="0" class="input-mini" /></td>
    <td><i class="icon-arrow-down"></i></td>
  </tr>

</table>
